/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: GothamProReg; src: url("fonts/gothaproreg.eot"); src: url("fonts/gothaproreg.eot?#iefix") format("embedded-opentype"), url("fonts/gothaproreg.woff") format("woff"), url("fonts/gothaproreg.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: GothamProMed; src: url("fonts/gothapromed.eot"); src: url("fonts/gothapromed.eot?#iefix") format("embedded-opentype"), url("fonts/gothapromed.woff") format("woff"), url("fonts/gothapromed.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: KlinicslabBold; src: url("fonts/klinicslabbold.eot"); src: url("fonts/klinicslabbold.eot?#iefix") format("embedded-opentype"), url("fonts/klinicslabbold.woff") format("woff"), url("fonts/klinicslabbold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { background: whitesmoke; font-size: 12px; font-family: "GothamProMed", Arial, sans-serif; line-height: 1.4; color: #3e3e3e; }

a { text-decoration: none; }

.wrapper { position: relative; z-index: 100; }

.header { height: 100vh; width: auto; position: relative; }
.header .header__go-cards { position: absolute; left: 50%; top: 50%; margin-left: -145px; margin-top: -197px; box-shadow: 0 0 30px rgba(0, 0, 0, 0.7); border-radius: 4px; background: white; z-index: 120; cursor: pointer; background: url('../img/icons-s0679051184.png') 0 -180px no-repeat; width: 290px; height: 393px; }
.header .header__go-cards i { position: absolute; left: 119px; top: 305px; background: url("../img/svg/arrow-hover.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; opacity: 0; z-index: 31; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.header .header__go-cards:hover i { opacity: 0.5; }
.header .header__bg { position: relative; height: 100vh; overflow: hidden; z-index: 20; }
.header .header__bg .header__slide, .header .header__bg .header__pic { width: 100%; height: 100vh; background-size: cover; background-attachment: fixed; }

.buy-now { position: fixed; top: 20px; right: 20px; width: 120px; height: 60px; line-height: 60px; text-align: center; font-size: 16px; color: white; text-decoration: none; background: #80b927; z-index: 300; }
.buy-now:hover { background: #6faa00; }

.nav { position: fixed; top: 20px; left: 20px; z-index: 300; }
.nav.is-visible .nav__list { width: 500px; }
.nav .nav__icon { position: absolute; width: 60px; height: 60px; background: #ededed; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.nav .nav__icon i { position: absolute; top: 20px; left: 20px; background: url("../img/svg/btn-menu.svg") no-repeat 0 0; -webkit-background-size: 20px 20px; -moz-background-size: 20px 20px; -o-background-size: 20px 20px; background-size: 20px 20px; width: 20px; height: 20px; display: inline-block; opacity: 0.5; z-index: 20; }
.nav .nav__icon.is-back { cursor: pointer; }
.nav .nav__icon.is-back i { background: url("../img/svg/arrow-left.svg") no-repeat 0 0; -webkit-background-size: 20px 20px; -moz-background-size: 20px 20px; -o-background-size: 20px 20px; background-size: 20px 20px; width: 20px; height: 20px; display: inline-block; }
.nav .nav__icon.is-close, .nav .nav__icon.is-close-dark { cursor: pointer; }
.nav .nav__icon.is-close i, .nav .nav__icon.is-close-dark i { background: url("../img/svg/btn-close.svg") no-repeat 0 0; -webkit-background-size: 20px 20px; -moz-background-size: 20px 20px; -o-background-size: 20px 20px; background-size: 20px 20px; width: 20px; height: 20px; display: inline-block; }
.nav .nav__icon.is-close-dark { background: #333333; }
.nav .nav__icon.is-close-dark i { opacity: 1; }
.nav:hover .nav__list { left: 60px; opacity: 1; width: 500px; -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275); }
.nav .nav__list { position: absolute; left: 60px; width: 0; overflow: hidden; opacity: 1; top: 0; list-style: none; background: whitesmoke; color: #717171; font-size: 0; white-space: nowrap; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.nav .nav__list li { display: inline-block; }
.nav .nav__list a { color: #717171; display: inline-block; float: left; text-decoration: none; padding: 0 20px; font-size: 16px; height: 60px; line-height: 60px; }
.nav .nav__list a:hover, .nav .nav__list a.is-active { background: #ededed; }

.cards { max-width: 1220px; margin: 0 auto; text-align: center; padding-bottom: 70px; }
.cards .cards__text { padding: 90px 100px; font-size: 25px; text-align: center; color: #3e3e3e; line-height: 1.5; }
.cards .cards__more { margin-top: 90px; display: inline-block; width: 200px; height: 60px; font-size: 20px; color: #3e3e3e; text-decoration: none; cursor: pointer; background: white; line-height: 60px; }

.card { max-width: 280px; margin: 20px 10px; position: relative; text-align: center; display: inline-block; font-size: 13px; color: #cccccc; text-align: center; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; }
.card .card__img { margin-bottom: 15px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; border-radius: 10px; }
.card .card__img img { display: block; width: 100%; }
.card:hover { color: #999999; }
.card:hover .card__img { box-shadow: 0px 0px 25px #e9e9e9; }

.featured { padding: 63px 0 91px 0; background: white; text-align: center; }
.featured .featured__title { font-weight: normal; font-size: 20px; color: #9c9c9c; margin-bottom: 60px; }
.featured .featured__logos a { display: inline-block; margin: 0 20px; opacity: 0.2; vertical-align: top; -webkit-transition: opacity linear; -webkit-transition-delay: 0.2s; -moz-transition: opacity linear 0.2s; -o-transition: opacity linear 0.2s; transition: opacity linear 0.2s; }
.featured .featured__logos a:hover { opacity: 1; }
.featured .featured__l1 { background: url('../img/icons-s0679051184.png') 0 -634px no-repeat; width: 200px; height: 46px; }
.featured .featured__l2 { background: url('../img/icons-s0679051184.png') 0 -583px no-repeat; width: 210px; height: 41px; }
.featured .featured__l3 { background: url('../img/icons-s0679051184.png') 0 -895px no-repeat; width: 220px; height: 45px; }
.featured .featured__l4 { background: url('../img/icons-s0679051184.png') 0 -843px no-repeat; width: 196px; height: 42px; }
.featured .featured__l1, .featured .featured__l3 { position: relative; top: -6px; }

.go-top { position: fixed; z-index: 300; bottom: 20px; right: -80px; height: 60px; width: 60px; background: white; cursor: pointer; -webkit-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -moz-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -o-transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); }
.go-top i { position: absolute; top: 50%; left: 50%; margin: -5px 0 0 -10px; background: url("../img/svg/arrow-up.svg") no-repeat 0 0; -webkit-background-size: 20px 10px; -moz-background-size: 20px 10px; -o-background-size: 20px 10px; background-size: 20px 10px; width: 20px; height: 10px; display: inline-block; }
.is-bottom .go-top { right: 20px; }

.footer { height: 100vh; position: relative; background: url(../img/footer.jpg) no-repeat 50% 0; background-attachment: fixed; }
.footer .footer__buy { position: absolute; left: 50%; width: 580px; margin-left: -290px; bottom: 40%; font-size: 50px; color: #81b928; text-decoration: none; display: inline-block; border: 7px solid #80b927; height: 117px; line-height: 117px; text-align: center; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer .footer__buy:hover { background: #80b927; color: white; }
.footer .footer__copy { position: absolute; left: 44px; bottom: 26px; font-size: 14px; color: #c1c1c1; }

.socials { position: absolute; bottom: 15%; left: 0; right: 0; text-align: center; list-style: none; font-size: 0; }
.socials li { display: inline-block; }
.socials a { display: inline-block; margin: 0 5px; opacity: 0.1; font: 0/0 a; text-shadow: none; color: transparent; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.socials a:hover { opacity: 0.2; }
.socials .socials__facebook { background: url("../img/svg/facebook.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }
.socials .socials__twitter { background: url("../img/svg/twitter.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }
.socials .socials__instagram { background: url("../img/svg/instagram.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }
.socials .socials__pinterest { background: url("../img/svg/pinterest.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }

.socials_white a { opacity: 0.2; }
.socials_white a:hover { opacity: 0.4; }
.socials_white .socials__twitter { background: url("../img/svg/twitter-white.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }
.socials_white .socials__facebook { background: url("../img/svg/facebook-white.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }
.socials_white .socials__pinterest { background: url("../img/svg/pinterest-white.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }
.socials_white .socials__instagram { background: url("../img/svg/instagram-white.svg") no-repeat 0 0; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; width: 50px; height: 50px; display: inline-block; }

.page { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 180px 90px; background: whitesmoke; z-index: 200; overflow: auto; }

.title { margin-bottom: 40px; font-size: 25px; color: #9c9c9c; text-align: center; }

.contact .title { margin-bottom: 130px; }

.contact__mail { text-align: center; font-size: 80px; }
.contact__mail a { border-bottom: #7a7a7a 2px solid; color: #3e3e3e; }

.thanks { text-align: center; }

.thanks__important { margin-bottom: 40px; font-size: 20px; }

.thanks__another { margin-bottom: 85px; font-family: "GothamProReg", Arial, sans-serif; font-size: 16px; }

.kick-starter { text-align: center; font-size: 0; }
.kick-starter a { display: inline-block; vertical-align: top; background: url('../img/icons-s0679051184.png') 0 -690px no-repeat; width: 150px; height: 143px; }

.partners__important { margin-bottom: 70px; text-align: center; font-size: 0; }

.partners__stickerapp { display: inline-block; vertical-align: top; background: url('../img/icons-s0679051184.png') 0 0 no-repeat; width: 281px; height: 170px; }

.partners__list { font-size: 0; text-align: center; }
.partners__list li { display: inline-block; width: 25%; margin-bottom: 60px; vertical-align: middle; }
.partners__list img { max-width: 100%; }

.interview__title { margin-bottom: 50px; font-size: 50px; }

.interview__card { float: right; margin-left: 50px; }

.interview__in { overflow: hidden; }

.interview__list { margin-bottom: 40px; }

.interview__item { margin-top: 60px; }
.interview__item:first-child { margin: 0; }

.interview__question { margin-bottom: 20px; font-size: 21px; }

.interview__answer { font-family: "GothamProReg", Arial, sans-serif; font-size: 18px; }
.interview__answer p { margin-bottom: 20px; }
.interview__answer a { border-bottom: #d1d1d1 1px solid; color: #3e3e3e; }
.interview__answer img { max-width: 100%; margin-bottom: 20px; }

.interview__thanks { font-size: 21px; }

.interview__list { margin-bottom: 80px; font-size: 0; }

.interview__list-item { display: inline-block; width: 25%; padding-right: 30px; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 16px; }
.interview__list-item > i { margin-bottom: 15px; }

.interview__actors span { display: inline-block; width: 22px; margin-right: 20px; text-align: center; color: #c2c2c2; }
.interview__actors a { color: #3e3e3e; }
.interview__actors li { margin-bottom: 10px; }
.interview__actors li.is-active a { color: #c2c2c2; }

.interview__info { text-align: center; font-size: 16px; }
.interview__info .interview__info-card { display: inline-block; margin: 0 35px; color: #c2c2c2; }
.interview__info a { color: #3e3e3e; }

.ico-spades { background: url("../img/svg/icon-spades.svg") no-repeat 0 0; -webkit-background-size: 24px 22px; -moz-background-size: 24px 22px; -o-background-size: 24px 22px; background-size: 24px 22px; width: 24px; height: 22px; display: inline-block; }

.ico-hearts { background: url("../img/svg/icon-hearts.svg") no-repeat 0 0; -webkit-background-size: 24px 22px; -moz-background-size: 24px 22px; -o-background-size: 24px 22px; background-size: 24px 22px; width: 24px; height: 22px; display: inline-block; }

.ico-clubs { background: url("../img/svg/icon-clubs.svg") no-repeat 0 0; -webkit-background-size: 24px 22px; -moz-background-size: 24px 22px; -o-background-size: 24px 22px; background-size: 24px 22px; width: 24px; height: 22px; display: inline-block; }

.ico-diamonds { background: url("../img/svg/icon-diamonds.svg") no-repeat 0 0; -webkit-background-size: 24px 22px; -moz-background-size: 24px 22px; -o-background-size: 24px 22px; background-size: 24px 22px; width: 24px; height: 22px; display: inline-block; }

.people { display: none; padding: 40px 50px; background: black; color: white; text-align: center; }
.people .socials { position: relative; }

.people__name { margin-bottom: 40px; font-size: 25px; }

.people__photo { margin-bottom: 40px; font-size: 0; }
.people__photo img { border-radius: 50%; vertical-align: top; }

.people__about { max-width: 70%; margin: 0 auto 30px; font-size: 18px; }
.people__about p { margin-bottom: 20px; color: #9c9c9c; }

.people__links { margin-bottom: 35px; font-size: 18px; }
.people__links li { margin-bottom: 7px; }
.people__links a { border-bottom: 1px solid #676767; color: white; }

.view { padding: 40px 50px; }

.view__card { position: absolute; top: 115px; left: 0; right: 0; bottom: 100px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; }
.view__card img { width: auto; height: 100%; cursor: pointer; }

.people, .view, .slider__in { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.share { position: absolute; left: 0; right: 0; bottom: 40px; text-align: center; font-size: 0; }

.share__item { display: inline-block; margin-left: 25px; vertical-align: middle; }
.share__item:first-child { margin: 0; }

.slider { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: whitesmoke; z-index: 200; }
.slider.is-dark .slider__prev { background: url("../img/svg/arrow-left-white.svg") no-repeat 0 0; -webkit-background-size: 20px 40px; -moz-background-size: 20px 40px; -o-background-size: 20px 40px; background-size: 20px 40px; width: 20px; height: 40px; display: inline-block; }
.slider.is-dark .slider__next { background: url("../img/svg/arrow-right-white.svg") no-repeat 0 0; -webkit-background-size: 20px 40px; -moz-background-size: 20px 40px; -o-background-size: 20px 40px; background-size: 20px 40px; width: 20px; height: 40px; display: inline-block; }

.slider__prev, .slider__next { position: absolute; top: 50%; margin-top: -20px; opacity: 0.2; z-index: 4; }

.slider__prev { left: 50px; background: url("../img/svg/arrow-left.svg") no-repeat 0 0; -webkit-background-size: 20px 40px; -moz-background-size: 20px 40px; -o-background-size: 20px 40px; background-size: 20px 40px; width: 20px; height: 40px; display: inline-block; }

.slider__next { right: 50px; background: url("../img/svg/arrow-right.svg") no-repeat 0 0; -webkit-background-size: 20px 40px; -moz-background-size: 20px 40px; -o-background-size: 20px 40px; background-size: 20px 40px; width: 20px; height: 40px; display: inline-block; }

.slider__in { z-index: 2; }
